.bannerContainer {
  /* height: 70vh; */
  width: 80%;
  margin: 0 auto;
}

.bannerCaption {
  margin-top: 150px;
  color: #d818ff !important;
}

.bannerText {
  font-size: 20px;
}

.searchContainer {
  margin-top: 100px;
}

.searchBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.searchInput {
  height: 60px;
  width: 350px !important;
}

.btn {
  height: 60px;
}

.fieldWrapper {
  margin-right: 20px;
  margin-bottom: 20px;
}

.suggestions {
  width: 80%;
  margin: 0 auto;
}

.nearWrapper {
  margin-top: 40px;
}

.eventsColumn {
  display: flex;
  flex-wrap: wrap;
}
